## Final Project Submission

Please fill out:
* Student name: Mathews Wandera Odongo
* Student pace: part time 
* Scheduled project review date/time: 
* Instructor name: Maryanne Mwikali
* Blog post URL:

# Phase 1 Project: Aviation Safety Analysis
## Business problem
Our company is expanding into the aviation industry and needs to identify the lowest-risk aircraft to purchase for commercial and private operations. We'll analyze aviation accident data to provide data-driven recommendations.

# Dataset
We'll use the National Transportation Safety Board (NTSB) dataset containing civil aviation accidents from 1962-2023 in the U.S. and international waters.

## specifically this will cover:

. Using pandas to load data
. Using pandas methods and attributes to access information about a dataset

# APPROACH
##Data cleaning and preparation
.Handle missing values

.Clean inconsistent data

.Create relevant derived features
## Explaratory Analysis
.Identify safest aircraft models

.Analyze accident trends over time

.Examine common accident causes
## Visualization & Recommendations:
.Create clear visualizations highlighting key findings

.Develop 3 concrete business recommendations

.Build an interactive dashboard for exploration

Import the Relevant Library
.import pandas as pd
.import numpy as np
.import seaborn as sns
.import matplotlib.pyplot as plt
.Set matplotlib inline visulistaion to display inline in the notebook

In [2]:
#IMPORT LIBRARIES
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

DOWNLOAD AND EXPLORE DATASET

In [3]:
#Load the aviation data
Aviation_data = pd.read_csv("data/Aviation_Data.csv") 
Aviation_data.head() #displays the first five rows

C:\Users\USER\AppData\Local\Temp\ipykernel_14068\3336547024.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  Aviation_data = pd.read_csv("data/Aviation_Data.csv")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
#check number of rows and columns in the data frame
Aviation_data.shape

(90348, 31)

In [5]:
#get list of all the clomns in the data frame
Aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [6]:
## Show column names, dytypes and non-null counts
Aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [7]:
# See how many missing values per column
Aviation_data.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [26]:

# columns to be droped
cols_to_drop = [
    'Airport.Code', 'FAR.Description', 'Schedule', 
    'Air.carrier', 'Latitude', 'Longitude',
    'Airport.Name', 'Broad.phase.of.flight',
    'Investigation.Type', 'Publication.Date', 'Report.Status'
]

In [27]:
cols_to_drop = [col for col in cols_to_drop if col in Aviation_data.columns]
Aviation_data= Aviation_data.drop(columns=cols_to_drop)
Aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Injury.Severity         87889 non-null  object
 6   Aircraft.damage         85695 non-null  object
 7   Aircraft.Category       32287 non-null  object
 8   Registration.Number     87507 non-null  object
 9   Make                    88826 non-null  object
 10  Model                   88797 non-null  object
 11  Amateur.Built           88787 non-null  object
 12  Number.of.Engines       82805 non-null  float64
 13  Engine.Type             81793 non-null  object
 14  Purpose.of.flight       82697 non-null  object
 15  Total.Fatal.Injuries    77488 non-null  float64
 16  Total.Serious.Injuries  76379 non-null  float64
 17  Total.Minor.Injuries    76956 non-null  float64
 18  Total.Uninjured         82977 non-null  float64
 19  Weather.Condition       84397 non-null  object
dtypes: float64(5), object(15)
memory usage: 13.8+ MB

In [30]:
#Fill missing numerical values
injury_cols = ['Total.Fatal.Injuries', 'Total.Serious.Injuries','Total.Minor.Injuries']
Aviation_data[injury_cols] = Aviation_data[injury_cols].fillna(0)

In [31]:
# Fill categorical missing values 
Aviation_data['Aircraft.Category'] = Aviation_data['Aircraft.Category'].fillna('Unknown')
Aviation_data

,Event.Id,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Unknown,NC6404,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Unknown,N5069P,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,Unknown,N5142R,Cessna,172M,No,1.0,Reciprocating,Personal,3.0,0.0,0.0,NaN,IMC
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,Unknown,N1168J,Rockwell,112,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,Unknown,N15NY,Cessna,501,No,NaN,NaN,Personal,1.0,2.0,0.0,0.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,Unknown,N1867H,PIPER,PA-28-151,No,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN
90344,20221227106494,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,Unknown,N2895Z,BELLANCA,7ECA,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
90345,20221227106497,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC
90346,20221227106498,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,Unknown,N210CU,CESSNA,210N,No,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN
90347,20221230106513,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,Unknown,N9026P,PIPER,PA-24-260,No,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN